<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Домашнее задание № 6. Меню</title>
</head>
<body>
    <h1>Интернет магазин "KISLOROD"</h1>
    <h2>Выберите раздел: </h2>
    <div class="container">
        <a href="/samsung" class="btn">Телефоны Samsung</a>
        <a href="/iphone" class="btn">Телефоны Iphone</a>
        <a href="/xiaomi" class="btn">Телефоны Xiaomi</a>
    </div>
</body>
</html>